/* Fixed vertical toggle handle when sidebar is closed */
.sidebar-handle {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 100vh;
  background-color:white;
  display: flex;
  align-items: center; 
   justify-content: center;
  z-index: 1100;
  cursor: pointer;
}

.toggle-btn {
  background: none;
  border: none;
  color:black;
  font-size: 1.5rem;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: white;
  overflow-y: auto;
  /* padding-top: 60px; */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  z-index: 1040;
  transition: width 0.2s linear;
  
}

.sidebar.show {
  width: 210px;
}

.sidebar.hide {
  width: 0;
  overflow: hidden;
}

/* Nav links */
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  padding: 8px 10px;
  border-radius: 4px;
  transition: background-color 0.2s;
  text-decoration: none;
}

.sidebar .nav-link:hover {
  background-color: #f2f2f2;
  color: #000;
}

.sidebar .btn-warning {
  background-color: yellow;
  color: black;
  font-weight: bold;
  width: 100%;
}

/* Main content */
.main-content {
  transition: margin-left 0.2s linear;
  
}

.sidebar.show ~ .main-content {
  margin-left: 210px;
}

.sidebar.hide ~ .main-content {
  margin-left: 40px;
}

.logout{
  width:180px;
}
